@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Chicle);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Courgette)

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*COLORS*/
header, footer, nav, .callToAction div button, input.submitBtn {
  background-color: #486b00;
  color: #000000;
}

.callToAction div button:hover, input.submitBtn:hover {
  color: #7d4427;
  background-color: #ffffff;
}

h1, h2, h3 {
  color: #486b00;
}

body {
  background-color: #ffffff;
  font-family: 'Oxygen';
}

h1 {
  background-image: url(../images/h1_background.png);
  background-repeat: repeat;
}

p {
  color: #000000;
}

footer p {
  color: #000000;
}

nav ul li a {
  color: #7d4427;
}

nav ul li a:hover {
  background-color: #ffffff;
}

nav ul li.active a {
  background-color: #7d4427;
  color: #000000;
}

/*FONTS*/

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  font-size: 1.7em;
  font-family: 'Chicle', cursive;
}

.subtitle {
  font-size: 0.9em;
  font-family: 'Courgette', cursive;
}

h1, h2, h3 {
  font-family: 'Oxygen', sans-serif;
}

header, nav, main, footer { 
  margin: auto;
  max-width: 1200px;
}

footer p {
  font-size: 0.8em;
}

/*LAYOUT*/

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

header img{ padding-right: 20px;
	
}
.hidden {
  display: none !important;
}

article {
  background-color: #eee;
  box-shadow: 5px 5px 10px gray;
  padding: 5px;
}

/*NAVIGATION*/

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav button {
  margin-left: 0.2em;
  color: white;
  font-size: 2.5em;
  background-color: transparent;
  text-align: left;
  border: none;
}

nav ul li {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

nav ul.hide {
  display: none;
}


/*CALL TO ACTION*/
.callToAction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

.callToAction div button {
  width: 6em;
  padding: 5px;
  border-radius: 1em;
  box-shadow: 5px 5px 10px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/*HOME PAGE STORIES*/
.home-stories {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px 10px;
}

.home-stories article {
  width: 95%;
  margin-bottom: 10px;
}

.home-stories article img {
  float: left;
  padding-right: 350px;
  width: 100%;
}

.home-stories article p {
  margin: 0px;
}

/*FOOTER*/

footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.8em;
}
footer aside {
  padding: 5px;
}
footer aside span {
  font-weight: bold;
}
footer>p {
  margin-top: 0;
  padding: 5px;
}

article {
  margin-top: 5px;
  margin-bottom: 10px;
}

.tour-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.tour-article > img {
  width: 100%;
}

.tour-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  align-content: start;
}

.tour-details  h3 {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color: black;
}

.tour-details > p {
  padding: 0;
  margin: 0;
}

.tour-details > table {
  width: 100%;
  border-collapse: collapse;
}

.tour-details > table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.tour-details > table tr:nth-child(even) {
  background-color: #dddddd;
}


.event-intro {
  display: grid;
  grid-template-columns: auto;
}

article {
  margin-bottom: 15px;
}

#gdmbr-map {
  width: 100%;
}


#eventRegistration {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eee;
  border: #3d372d solid 1px;
  box-shadow: 5px 5px 20px #cccccc;
}

label {
  display: block;
  width: 100%;
}

label span {
  display: block;
  font-size: 0.9em;
  color: #450015;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
}

label input, label select,
label textarea {
  background-color: #f4f2ef;
  color: #917a56;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  margin-right: -2em;
  border: solid 1px #b0aaa0;
  border-radius: 5px;
  font-size: .9em;
  width: 100%;
  background-image: url(../images/ico_validation.png);
  background-repeat: no-repeat;
  background-position: 4px -11px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

label textarea {
  background-image: none;
  height: auto;
}

#eventRegistrationSubmit {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.submitBtn {
  -webkit-appearance: none; /*remove the apple mobile default styling*/
  color: #fff;
  border-radius: 1em;
  width: 90%;
  max-width: 500px;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 1.1em;
  padding: .6em;
  box-shadow: 5px 5px 10px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input:required, select:required {
  background-position: 4px -61px;
}

input:focus:invalid, select:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid, select:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}

.event-details > table {
  width: 100%;
  border-collapse: collapse;
}

.event-details > table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.event-details > table tr:nth-child(even) {
  background-color: #dddddd;
}

.route-details {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  #eventRegistration {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .event-intro {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .route-details {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .route-details > p {
    margin: 0;
    padding: 0;
  }
}



.accordion {
  background-color: #2e4600;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.activePanel, .accordion:hover {
  background-color: #7d4427;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activePanel:after {
  content: "\2212";
}

.accordionPanel {
  display: none;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panelContent {
  display: grid;
  grid-template-columns: 1fr;
}

.accordionPanel img {
  max-width: 95%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .panelContent {
    grid-template-columns: 1fr 1fr;
  }
}



table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

table th:nth-child(2) {
  text-align: center;
}

table td:nth-child(2) {
  text-align: right;
  width: 30%;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}





.event-intro {
  display: grid;
  grid-template-columns: 1fr;
}

article {
  margin-bottom: 15px;
}

#gdmbr-map {
  width: 100%;
}



#eventRegistration {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eee;
  border: #3d372d solid 1px;
  box-shadow: 5px 5px 20px #ffffff;
}

label {
  display: block;
  width: 100%;
}

label span {
  display: block;
  font-size: 0.9em;
  color: #450015;
  padding-top: 0.9em;
  padding-bottom: 0.2em;
}

label input, label select,
label textarea {
  background-color: #f4f2ef;
  color: #917a56;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  margin-right: -2em;
  border: solid 1px #b0aaa0;
  border-radius: 5px;
  font-size: .9em;
  width: 100%;
  background-image: url(../images/ico_validation.png);
  background-repeat: no-repeat;
  background-position: 4px -11px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

label textarea {
  background-image: none;
  height: auto;
}

#eventRegistrationSubmit {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.submitBtn {
  -webkit-appearance: none; /*remove the apple mobile default styling*/
  color: #fff;
  border-radius: 1em;
  width: 90%;
  max-width: 500px;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 1.1em;
  padding: .6em;
  box-shadow: 5px 5px 10px gray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px #000000 inset;
}

input:required, select:required {
  background-position: 4px -61px;
}

input:focus:invalid, select:focus:invalid {
  background-position: 4px -111px;
}

input:required:valid, select:required:valid {
  background-color: #fff;
  background-position: 4px -161px;
}

.event-details > table {
  width: 100%;
  border-collapse: collapse;
}

.event-details > table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.event-details > table tr:nth-child(even) {
  background-color: #dddddd;
}

.route-details {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  #eventRegistration {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .event-intro {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .route-details {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .route-details > p {
    margin: 0;
    padding: 0;
  }
}

#servicetable th {
    
     background-color: #2e4600;
     color: white;
    font-family: 'oxygen', sans-serif;
    
}


#servicetable tr:nth-child(1), tr:nth-child(3),  tr:nth-child(5),  tr:nth-child(7)  {

   background-color: #486b00;

}


#servicetable tfoot td {

    background-color: #2e4600;
    color: #ffffff;
    font-family: 'oxygen', sans-serif;

}

